<!-- Subscription Section -->
<div>
    <div class="subscribe-box">
        <h5 class="subscribe-heading">
          We Would Like to Keep in Touch With You
        </h5>
      
        <p class="subscribe-text">
          Subscribe to our email list to know about our weavers, clusters, events,<br class="hidden sm:block">
          special deals, and discounts
        </p>
      
        <div class="subscribe-form">
          <input type="text" placeholder="example@gmail.com"
            class="subscribe-input" />
          <button class="subscribe-button">
            Submit
          </button>
        </div>
      </div>  
</div>

<!-- Footer Info Section -->
<div class="footer-section">
    <div class="footer-grid">
          <!-- About Us -->
        <div class="footer-about">
            <div class="footer-heading">About Us</div>
            We have set ourselves an ambitious goal: To bring together the weaving community and the buyers into close
            contact. That is to connect weavers and wearers. Every weave is created with a lot of passion and hard work
            by weavers. Before the big cities with all the shopping options came up, most of the buyers used to buy
            directly from weavers. This enabled the buyers to appreciate the effort put in by weavers and also create an
            immense sense of satisfaction for the weaver when they actually see their weave being worn. Buying now has
            become an impersonal thing. Buyers now have very little knowledge about how an article they are using is
            crafted. Our effort is to reduce this distance. By creating a platform where weavers can directly post their
            weaves online, we can now give everyone a glimpse of the weaver who crafted the weave.
        </div>
        <div class="text-center">
            <div class="footer-heading">Contact</div>
            examplekalamkarimart<br>
            +91 9515126992<br>
            MIG 172, brahmapuram Colony, pedana,<br>
            Pedana Andrapradesh<br>
            521366 India<br>
        </div>
        <div class="text-center ">
            <div class="footer-heading">Menu</div>
            Menu <br>
            About Us <br>
            F.A.Qs <br>
            Shipping Policy <br>
            Return Policy <br>
            Privacy Policy <br>
            Other Terms <br>
            Careers
        </div>
    </div>
</div>

<div class="footer-bottom">
    © 2025 Kalamkari Mart. All Rights Reserved.
</div>